.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-button {
  background-color: #61dafb;
  border: none;
  padding: 10px 20px;
  color: #282c34;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 20px;
}

.App-button:hover {
  background-color: #21a1f1;
}

